In [6]:
SELECT S.Rogzitette, S.szallas_nev, S.cim
FROM Szallashely AS S
WHERE MONTH(S.ROGZ_IDO) = 3
AND Hely LIKE '%Balaton%'
ORDER BY S.csillagok_szama DESC

Rogzitette,szallas_nev,cim
Béla,Hotel Három Hattyú,"8623 Balatonföldvár, Rákóczi Ferenc út 45."
Mari,Jáde panzió,"8624 Balatonföldvár, Kiss u.2."
Béla,Kentaur Hotel,"8600 Siófok (Széplak), Akácfa utca 1"
Béla,Tímárház Panzió,"8600 Siófok, Virág utca 1"
Béla,Családi Ház,"8630 Balatonboglár, József Attila utca 25"
Mari,Szieszta Apartmanház,"8630 Balatonboglár, Dózsa György utca 108"
Béla,Partiszél Vendégház,8220 Balatonalmádi Neptun u. 23.

In [8]:
SELECT SH.tipus, ROUND(AVG(SH.csillagok_szama), 0) AS atlag_csillagok
FROM Szallashely AS SH
WHERE SH.tipus <> 'Panzio'
GROUP BY SH.tipus
HAVING ROUND(AVG(SH.csillagok_szama), 0) >= 3

tipus,atlag_csillagok
Hotel,3
panzió,3

In [13]:
SELECT F.SZOBA_FK, YEAR(F.mettol) AS evszam, COUNT(*) AS foglalasok_szama
FROM Foglalas AS F
JOIN Szoba AS S ON F.SZOBA_FK = S.szoba_id
WHERE F.SZOBA_FK % 2 = 1
GROUP BY F.SZOBA_FK, YEAR(F.METTOL)
HAVING COUNT(*) > 10