SQL 1

In [ ]:
SELECT 
    SZOBA.SZOBA_SZAMA AS Room_Number,
    COUNT(FOGLALAS.FOGLALAS_PK) AS Booking_Count
FROM 
    SZOBA
LEFT JOIN 
    FOGLALAS ON SZOBA.SZALLAS_FK = FOGLALAS.SZOBA_FK
GROUP BY 
    SZOBA.SZOBA_SZAMA;

SQL 2

In [ ]:
WITH RankedSzallas AS (
    SELECT
        SZALLAS_ID,
        SZALLAS_NEV,
        HELY,
        CSILLAGOK_SZAMA,
        ROW_NUMBER() OVER (PARTITION BY HELY ORDER BY CSILLAGOK_SZAMA DESC) AS r
    FROM
        Szallashely
)
SELECT
    SZALLAS_ID,
    SZALLAS_NEV
FROM
    RankedSzallas
WHERE
    r = 1;

SQL 3

In [ ]:
SELECT 
    DENSE_RANK() OVER (ORDER BY COUNT(f.FOGLALAS_PK) DESC) AS Rank,
    v.USERNEV AS Vendeg_ID,
    v.NEV AS Vendeg_nev,
    COUNT(f.FOGLALAS_PK) AS Foglalasok
FROM 
    VENDEG v
LEFT JOIN 
    FOGLALAS f ON v.USERNEV = f.UGYFEL_FK
GROUP BY 
    v.USERNEV, v.NEV
ORDER BY 
    Foglalasok DESC;

SQL 4

In [ ]:
SELECT 
    SZOBA_FK,
    METTOL,
    COUNT(*) 
FROM 
    FOGLALAS
GROUP BY 
    SZOBA_FK, METTOL
HAVING 
    COUNT(*) >= 2
ORDER BY 
    SZOBA_FK, METTOL;

SQL 5

In [ ]:
SELECT
    COUNT(DISTINCT FEROHELY) AS Különböző,
    MIN(FEROHELY) AS Minimum,
    MAX(FEROHELY) AS Maximum,
    AVG(FEROHELY) AS Average,
    100.0 * COUNT(FEROHELY) / COUNT(*) AS Not_Null,
    100.0 * (COUNT(*) - COUNT(FEROHELY)) / COUNT(*) AS null_
FROM 
    SZOBA;

REDIS

In [ ]:
HSET IRO:1 ID 1 nev "Jancsi" nemzetiseg "Magyar"

HSET IRO:2 ID 2 nev "Kovalik-Deák Bercel" nemzetiseg "Német"



HSET KONYV:1 ID 1 cim "pelda1" mufaj "Fantasy" IRO_ID 1

HSET KONYV:2 ID 2 cim "pelda2" mufaj "Krimi" IRO_ID 2

CASSANDRA

In [ ]:
USE movies;
CREATE TABLE STUDENT (
          ...     ID UUID PRIMARY KEY,
          ...     Nev TEXT,
          ...     Teljesitett_felevek LIST<INT>,
          ...     Eredmenyek MAP<INT, DECIMAL>,
          ...     Nyelvtudas SET<TEXT>
          ... );
INSERT INTO STUDENT (ID, Nev, Teljesitett_felevek, Eredmenyek, Nyelvtudas)
          ... VALUES (uuid(), 'Balazs', [1, 2, 3], {1: 3.00, 2: 4.55, 3: 4.10}, {'English', 'Hungarian'});

INSERT INTO STUDENT (ID, Nev, Teljesitett_felevek, Eredmenyek, Nyelvtudas)
          ... VALUES (uuid(), 'Greta', [1, 2, 3], {1: 4.00, 2: 3.80, 3: 4.75}, {'English', 'German', 'Spanish'});

SELECT * FROM STUDENT;

NEO4J

In [ ]:
MATCH (tom:Person {name: "Tom Hanks"})-[:ACTED_IN]->(m:Movie)<-[:ACTED_IN]-(coActor:Person)
WHERE NOT coActor.name = "Tom Hanks"
RETURN DISTINCT coActor.name AS CoActorNames